
<div class="page-card page-card-admin">
  <div class="page-card-com page-card-main">
    <h4>Add New Supply</h4> 
  
    <div class="row">
      <div class="mt-4 col-sm-4">
        <div class="card">
          <div class="card-header">New Dry Supply</div>
          <div class="card-body">
            <form #drySupplyForm="ngForm" (ngSubmit)="saveDrySupply()">
              <mat-form-field style="border-left: 0px;">
                <input style="border-left: 0px;" matInput [matDatepicker]="dp" placeholder="Choose a date" [(ngModel)]="form.supply_date"  [ngModelOptions]="{standalone: true}">
                <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
                <mat-datepicker #dp></mat-datepicker>
              </mat-form-field>
              <hr/>
              <div class="form-group row">
                <label for="inputSelect2" class="col-sm-2 col-form-label">Product</label>
                <select class="form-control" name="dry_product_sub_id" [class.selected]="product === selectedProduct" [(ngModel)]="form.dry_product_sub_id" (change)="productChange($event)">
                  <option [ngValue]="null" disabled>-Select a product-</option>
                  <option id="product.id" *ngFor="let product of products" [value]="product.id">
                    {{product.name}}
                  </option>
                </select>
              </div>
              <input type="text" name="product" class="form-control" id="inputProduct1" [(ngModel)]="form.product" required hidden>
              <input type="text" name="product_id" class="form-control" id="inputProduct2" [(ngModel)]="form.dry_product_id" required hidden>
              <div class="form-group row">
                <label for="inputInvt1" class="col-sm-2 col-form-label">Stock Received</label>
                <div class="col-sm-10">
                  <input type="text" name="inventory_received" class="form-control" id="inputInvt1" [(ngModel)]="form.inventory_received" required>
                </div>
              </div>
              <div class="form-group row">
                <label for="inputPrice2" class="col-sm-2 col-form-label">Supply Price</label>
                <div class="col-sm-10">
                  <input type="text" name="stock_rcvd" class="form-control" id="inputPrice2" [(ngModel)]="form.supply_price" required>
                </div>
              </div>
              <div class="form-group row">
                <div class="col-sm-10 offset-2">
                  <button type="submit" class="btn btn-primary" [disabled]="!drySupplyForm.valid">Add Supply</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="mt-4 col-sm-8">
        <div class="page-card page-card-admin">
          <div class="page-card-com page-card-main">
            <h4>Day Supplies</h4> 
            <!-- Dropdown Structure -->
            <div class="split-row">
              <div class="col-md-12">
                <div class="box-inn-sp ad-inn-page">
                  <div class="tab-inn ad-tab-inn">
                    <div class="table-responsive" style="overflow: hidden">
                      <table class="table table-hover">
                        <thead>
                          <tr>
                            <th>Product</th>
                            <th>Stock Received</th>
                            <th>Supply Price</th>
                            <th>Date</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let supply of supplies">
                            <td><span class="list">{{supply.product}}</span></td>
                            <td><span class="list">{{supply.inventory_received}}</span></td>
                            <td><span class="list">{{supply.supply_price}}</span></td>
                            <td><span class="list">{{supply.supply_date}}</span></td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
  
  
  
  