
<div class="page-card page-card-admin">
  <div class="page-card-com page-card-main">
    <h4>Add New Stock</h4> 
  
    <div class="row">
      <div class="mt-4 col-sm-4">
        <div class="card">
          <div class="card-header">New Dry Stock</div>
          <div class="card-body">
            <form #dryStocksForm="ngForm" (ngSubmit)="saveDryStock()">
              <div class="form-group row">
                <label for="inputDate1" class="col-sm-2 col-form-label">Date</label>
                <div class="col-sm-10">
                  <input type="date" name="date" class="form-control" id="inputDate1" [(ngModel)]="form.stock_date" required>
                </div>
              </div>
              <hr/>
              <div class="form-group row">
                <label for="inputSelect2" class="col-sm-2 col-form-label">Product</label>
                <select class="form-control" name="dry_product_sub_id" [class.selected]="product === selectedProduct" [(ngModel)]="form.dry_product_sub_id" (change)="productChange($event)">
                  <option [ngValue]="null" disabled>-Select a product-</option>
                  <option id="product.id" *ngFor="let product of products" [value]="product.id">
                    {{product.name}}
                  </option>
                </select>
              </div>
              <input type="text" name="product" class="form-control" id="inputProduct1" [(ngModel)]="form.product" required hidden>
              <input type="text" name="product_id" class="form-control" id="inputProduct2" [(ngModel)]="form.dry_product_id" required hidden>
              <div class="form-group row">
                <label for="inputStock1" class="col-sm-2 col-form-label">Opening Stock</label>
                <div class="col-sm-10">
                  <input type="text" name="opening_inventory" class="form-control" id="inputStock1" [(ngModel)]="form.opening_inventory" required>
                </div>
              </div>
              <div class="form-group row">
                <label for="inputStock2" class="col-sm-2 col-form-label">Closing Stock</label>
                <div class="col-sm-10">
                  <input type="text" name="closing_inventory" class="form-control" id="inputStock2" [(ngModel)]="form.closing_inventory" required>
                </div>
              </div>
              <div class="form-group row">
                <label for="inputSold2" class="col-sm-2 col-form-label">Stock Received</label>
                <div class="col-sm-10">
                  <input type="text" name="stock_rcvd" (change)="stock_sold($event)" class="form-control" id="inputSold2" [(ngModel)]="form.stock_received" required>
                </div>
              </div>
              <div class="form-group row">
                <label for="inputSold1" class="col-sm-2 col-form-label">Stock Sold</label>
                <div class="col-sm-10">
                  <input type="text" name="stock_sold" class="form-control" id="inputSold1" [(ngModel)]="form.stock_sold" required>
                </div>
              </div>
              <div class="form-group row">
                <div class="col-sm-10">
                  <button type="submit" class="btn btn-primary" [disabled]="!dryStocksForm.valid">Add Stock</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="mt-4 col-sm-8">
        <div class="page-card page-card-admin">
          <div class="page-card-com page-card-main">
            <h4>Day stocks</h4> 
            <!-- Dropdown Structure -->
            <div class="split-row">
              <div class="col-md-12">
                <div class="box-inn-sp ad-inn-page">
                  <div class="tab-inn ad-tab-inn">
                    <div class="table-responsive">
                      <table id="bootstrap-data-table" class="table table-striped table-bordered dataTable no-footer" role="grid" aria-describedby="bootstrap-data-table_info">
                        <thead>
                          <tr role="row">
                            <th class="sorting_asc" tabindex="0" aria-controls="bootstrap-data-table" 
                              rowspan="1" colspan="1" aria-sort="ascending" aria-label="Name: activate to sort column descending" 
                              style="width: 202px;">Product
                            </th>
                            <th class="sorting" tabindex="0" aria-controls="bootstrap-data-table" 
                              rowspan="1" colspan="1" aria-label="Office: activate to sort column ascending" 
                              style="width: 148px;">Opening Stock
                            </th>
                            <th class="sorting" tabindex="0" aria-controls="bootstrap-data-table" 
                              rowspan="1" colspan="1" aria-label="Office: activate to sort column ascending" 
                              style="width: 148px;">Closing Stock
                            </th>
                            <th class="sorting" tabindex="0" aria-controls="bootstrap-data-table" 
                              rowspan="1" colspan="1" aria-label="Office: activate to sort column ascending" 
                              style="width: 148px;">Stock Received
                            </th>
                            <th class="sorting" tabindex="0" aria-controls="bootstrap-data-table" 
                              rowspan="1" colspan="1" aria-label="Office: activate to sort column ascending" 
                              style="width: 148px;">Stock Sold
                            </th>
                            <th class="sorting" tabindex="0" aria-controls="bootstrap-data-table" 
                              rowspan="1" colspan="1" aria-label="Office: activate to sort column ascending" 
                              style="width: 408px;">Date
                            </th>
                          </tr>
                        </thead>
                        <tbody> 
                          <tr role="row" class="odd" *ngFor="let stock of stocks">
                            <td><span class="list">{{stock.product}}</span></td>
                            <td><span class="list">{{stock.opening_inventory}}</span></td>
                            <td><span class="list">{{stock.closing_inventory}}</span></td>
                            <td><span class="list">{{stock.stock_received}}</span></td>
                            <td><span class="list">{{stock.stock_sold}}</span></td>
                            <td><span class="list">{{stock.stock_date}}</span></td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



