
<div class="page-card page-card-admin">
  <div class="page-card-com page-card-main">
    <h4>Update Employee Records</h4> 
  
    <div class="row">
      <div class="mt-4 col-sm-4" *ngIf="employee!=null">
        <div class="card">
          <div class="card-header">Edit {{employee.lastName}}</div>
          <div class="card-body">
            <form #updateEmployeeForm="ngForm" (ngSubmit)="updateEmployee()">
              <div class="form-group row">
                <label for="inputFirst1" class="col-sm-2 col-form-label">First Name</label>
                <div class="col-sm-10">
                  <input type="text" name="first" class="form-control" id="inputFirst1" [(ngModel)]="form.firstName" required>
                </div>
              </div>
              <div class="form-group row">
                <label for="inputSecond1" class="col-sm-2 col-form-label">Middle Name</label>
                <div class="col-sm-10">
                  <input type="text" name="second" class="form-control" id="inputSecond1" [(ngModel)]="form.secondName" required>
                </div>
              </div>
              <div class="form-group row">
                <label for="inputLast1" class="col-sm-2 col-form-label">Last Name</label>
                <div class="col-sm-10">
                  <input type="text" name="last" class="form-control" id="inputLast1" [(ngModel)]="form.lastName" required>
                </div>
              </div>
              <div class="form-group row">
                <label for="inputPhone1" class="col-sm-2 col-form-label">Phone</label>
                <div class="col-sm-10">
                  <input type="phone" name="phone" class="form-control" id="inputPhone1" [(ngModel)]="form.phone" required>
                </div>
              </div>
              <div class="form-group row">
                <label for="inputSalary1" class="col-sm-2 col-form-label">Salary</label>
                <div class="col-sm-10">
                  <input type="number" name="salary" class="form-control" id="inputSalary1" [(ngModel)]="form.salary" required>
                </div>
              </div>
              <mat-form-field style="border-left: 0px;">
                <input style="border-left: 0px;" matInput [matDatepicker]="dp" placeholder="Choose a date" [(ngModel)]="form.date_of_birth"  [ngModelOptions]="{standalone: true}">
                <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
                <mat-datepicker #dp></mat-datepicker>
              </mat-form-field>
              <div class="form-group row">
                <label for="inputAddress1" class="col-sm-2 col-form-label">Address</label>
                <div class="col-sm-10">
                  <input type="text" name="address" class="form-control" id="inputAddress1" [(ngModel)]="form.address" required>
                </div>
              </div>
              <mat-form-field style="border-left: 0px;">
                <input style="border-left: 0px;" matInput [matDatepicker]="dp" placeholder="Choose a date" [(ngModel)]="form.date_hired"  [ngModelOptions]="{standalone: true}">
                <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
                <mat-datepicker #dp></mat-datepicker>
              </mat-form-field>
              <div class="form-group row">
                <label for="inputStation1" class="col-sm-2 col-form-label">Station</label>
                <div class="col-sm-10">
                  <input type="text" name="station" class="form-control" id="inputStation1" [(ngModel)]="form.station" required>
                </div>
              </div>
              <div class="form-group row">
                <label for="inputLevel1" class="col-sm-2 col-form-label">Level</label>
                <div class="col-sm-10">
                  <input type="text" name="cat" class="form-control" id="inputLevel1" [(ngModel)]="form.level" required>
                </div>
              </div>
              <div class="form-group row">
                <div class="col-sm-10 offset-2">
                  <button type="button" style="position:  relative; left: -70px;" class="btn btn-warning" (click)="goBack()">go back</button>
                  <button type="submit" style="float: right;" class="btn btn-primary" [disabled]="!updateEmployeeForm.valid">Save</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
  
