<div class="page-card page-card-admin">
    <div class="page-card-com page-card-main">
      <h4>Update Employee Level</h4> 
    
      <div class="row">
        <div class="mt-4 col-sm-4" *ngIf="level!=null">
          <div class="card">
            <div class="card-header">Edit {{level.name}}</div>
            <div class="card-body">
              <form #updateEmployeeLevelForm="ngForm" (ngSubmit)="save()">
                <div class="form-group row">
                  <label for="inputProduct1" class="col-sm-2 col-form-label">Expense Name</label>
                  <div class="col-sm-10">
                    <input type="text" name="product_name" class="form-control" id="inputProduct1" [(ngModel)]="form.name" required>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-sm-10 offset-2">
                    <button type="button" style="position:  relative; left: -70px;" class="btn btn-warning" (click)="goBack()">go back</button>
                    <button type="submit" style="float: right;" class="btn btn-primary" [disabled]="!updateEmployeeLevelForm.valid">Save</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
        
        
  
