/* You can add global styles to this file, and also import other style files */
@import '~plugins/bootstrap/dist/css//bootstrap.css';
@import '~plugins/css/emphasize.css';
@import '~plugins/css/font-awesome.min.css';
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

.ng-invalid:not(form) {
    border-left: 5px solid red;
}

.ng-valid:not(form) {
    border-left: 5px solid green;
}

html {
    overflow-x: hidden;
}

html,body{
    height:100%;
}

body{
margin:0;
display:table;
background-color: #1f262d;
}