<div class="page-card page-card-admin">
  <div class="page-card-com page-card-main">
    <h4>Update Product</h4> 
  
    <div class="row">
      <div class="mt-4 col-sm-4" *ngIf="sale!=null">
        <div class="card">
          <div class="card-header">Edit {{sale.dry_code}} Sale</div>
          <div class="card-body">
            <form #updateSaleForm="ngForm" (ngSubmit)="save()">
              <div class="form-group row">
                <label for="inputDate1" class="col-sm-2 col-form-label">Date</label>
                <div class="col-sm-10">
                  <input type="date" name="date" class="form-control" id="inputDate1" [(ngModel)]="form.date_sold" required>
                </div>
              </div>
              <hr/>
              <div class="form-group row">
                <label for="inputSelect3" class="col-sm-2 col-form-label">Price</label>
                <div class="col-sm-10">
                  <input type="text" name="selling_price" class="form-control" id="inputSelect3" [(ngModel)]="form.selling_price" required>
                </div>
              </div>
              <div class="form-group row">
                <label for="inputSelect2" class="col-sm-2 col-form-label">Sales Attendant</label>
                <div class="col-sm-10">
                  <input type="text" name="sales_attendant" class="form-control" id="inputSelect3" [(ngModel)]="form.sales_attendant" required>
                </div>
              </div>
              <div class="form-group row">
                <label for="inputLitres1" class="col-sm-2 col-form-label">Number Sold</label>
                <div class="col-sm-10">
                  <input type="text" name="quantity_sold" (change)="litres_sold($event)" class="form-control" id="inputCash1" [(ngModel)]="form.quantity_sold" required>
                </div>
              </div>
              <div class="form-group row">
                <label for="inputCash1" class="col-sm-2 col-form-label">Amount</label>
                <div class="col-sm-10">
                  <input type="text" name="cash_amt" class="form-control" id="inputCash1" [(ngModel)]="form.cash_amt" required>
                </div>
              </div>
              <div class="form-group row">
                <div class="col-sm-10 offset-2">
                  <button type="button" style="position:  relative; left: -70px;" class="btn btn-warning" (click)="goBack()">go back</button>
                  <button type="submit" style="float: right;" class="btn btn-primary" [disabled]="!updateSaleForm.valid">Save</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
