<div class="page-card page-card-admin">
  <div class="page-card-com page-card-main">
    <h4>Update Product</h4> 
  
    <div class="row">
      <div class="mt-4 col-sm-4" *ngIf="sale!=null">
        <div class="card">
          <div class="card-header">Edit Pump {{sale.pump_code}} Sale</div>
          <div class="card-body">
            <form #updateSaleForm="ngForm" (ngSubmit)="save()">
              <mat-form-field style="border-left: 0px;">
                <input style="border-left: 0px;" matInput [matDatepicker]="dp" placeholder="Choose a date" [(ngModel)]="form.date_sold"  [ngModelOptions]="{standalone: true}">
                <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
                <mat-datepicker #dp></mat-datepicker>
              </mat-form-field>
              <hr/>
              <div class="form-group row" style="width: 150px;">
                <label for="inputPrice1" class="col-sm-2 col-form-label">Price</label>
                <div class="col-sm-10">
                  <input type="text" name="selling_price" class="form-control" id="inputPrice1" [(ngModel)]="form.selling_price" required disabled>
                </div>
              </div>
              <div class="form-group row">
                <label for="inputSelect2" class="col-sm-2 col-form-label">Sales Attendant</label>
                <div class="col-sm-10">
                  <input type="text" name="sales_attendant" class="form-control" id="inputSelect3" [(ngModel)]="form.sales_attendant" required>
                </div>
              </div>
              <div class="form-group row">
                <label for="inputMetre1" class="col-sm-2 col-form-label">Opening Metre</label>
                <div class="col-sm-10">
                  <input type="text" name="opening_metre" class="form-control" id="inputMetre1" [(ngModel)]="form.opening_metre" required>
                </div>
              </div>
              <div class="form-group row">
                <label for="inputMetre2" class="col-sm-2 col-form-label">Closing Metre</label>
                <div class="col-sm-10">
                  <input type="text" name="closing_metre" (change)="litres_sold($event)" class="form-control" id="inputMetre2" [(ngModel)]="form.closing_metre" required>
                </div>
              </div>
              <div class="form-group row">
                <label for="inputLitres1" class="col-sm-2 col-form-label">Litres Sold</label>
                <div class="col-sm-10">
                  <input type="text" name="litres_sold" class="form-control" id="inputCash1" [(ngModel)]="form.litres_sold" required>
                </div>
              </div>
              <div class="form-group row">
                <label for="inputCash1" class="col-sm-2 col-form-label">Cash Amount</label>
                <div class="col-sm-10">
                  <input type="text" name="cash_amt" class="form-control" id="inputCash1" [(ngModel)]="form.cash_amt" required>
                </div>
              </div>
              <div class="form-group row">
                <div class="col-sm-10 offset-2">
                  <button type="button" style="position:  relative; left: -70px;" class="btn btn-warning" (click)="goBack()">go back</button>
                  <button type="submit" style="float: right;" class="btn btn-primary" [disabled]="!updateSaleForm.valid">Save</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
